.bg-primary{
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.btn-success{
    background-color:#c96cc6;
    border-color: #c96cc6;
}
.btn-success:hover{
    background-color:#883185;
    border-color: #883185;
    
}
.checkbox--label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10.6px;
    flex: 1 0 0;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
}